@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(234, 233, 233);
  background-image: radial-gradient(#a855f7 1px, transparent 0);
  background-size: 20px 20px; /* tweak spacing */
}

@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 6s ease infinite;
}
